<?php

$wgSitename = "NexCore Wiki";

$wgServer = "http://wiki.{{ domain_name }}";

$wgDBtype = "mysql";
$wgDBserver = "serverb.{{ domain_name }}";
$wgDBname = "{{ mediawiki_db.name }}";
$wgDBuser = "{{ mediawiki_db.user }}";
$wgDBpassword = "{{ mediawiki_db.password }}";
