<VirtualHost *:80>
    ServerName wiki.{{ domain_name }}

    DocumentRoot {{ mediawiki_dir }}

    <Directory {{ mediawiki_dir }}>
        AllowOverride All
        Require all granted
    </Directory>

    ErrorLog /var/log/httpd/mediawiki-error.log
    CustomLog /var/log/httpd/mediawiki-access.log combined
</VirtualHost>
