---
<?php

define('DB_NAME', '{{ wordpress_db.name }}');
define('DB_USER', '{{ wordpress_db.user }}');
define('DB_PASSWORD', '{{ wordpress_db.password }}');
define('DB_HOST', 'serverb.{{ domain_name }}');

$table_prefix = 'wp_';

require_once ABSPATH . 'wp-settings.php';
...
